<a class="links" href="/bright_ideas">Bright Ideas</a>
<a class="links" href="/sessions/<%= current_user.id %>" data-method="delete">Logout</a>

<h3><%= @bright_idea.user.alias %> says:</h3> <span class="content"><%= @bright_idea.content %></span>

<p><h3>People who liked this post:</h3><p>

<% if @bright_ideas %>
	<% @bright_ideas.each do |idea| %>
	<p><%= idea.user.alias %> <%= idea.user.name %></p>
	<% end %>
<% end %>