<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<a class="links" href="/sessions/<%= current_user.id %>" data-method="delete">Logout</a>
	<a class="links" href="/users/<%= current_user.id %>/edit">Edit my Profile</a>

<%= yield %>

</body>
</html>
