<!DOCTYPE html>
<html>
<head>
	<title><%= @dojo.branch %></title>
</head>
<body>
	<h1><%= @dojo.branch %></h1>
	<p><%= @dojo.street %></p>
	<p><%= @dojo.city %>, <%= @dojo.state %></p>

	<a href="/dojo">Home</a>
	<a href="/dojo/<%= @dojo.id %>/edit">Edit</a>

	<table>
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<% @students.each do |s| %>
			<tr>
				
				<td><%= s.first_name %></td>
				<td><%= s.last_name %></td>
				<td><%= s.email %></td>
				<td><a href="/dojo/<%= @dojo.id %>/students/<%= s.id %> >" method="get" >Show</a></td>
				<td><a href="/edit" method="get" >Edit</a></td>
				<td><a href="/destroy" method="delete" >Delete</a></td>
				
			</tr>
			<% end %>
		</tbody>
	</table>

</body>
</html>